.page-shapes{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top:0; left: 0;
  overflow: hidden;

  .left-yellow{
    background: color($colors,darkO);
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 55%;
    transform: translateX(-50%)
               translateY(50%)
               rotateZ(45deg);
  }
  .left-yellow:before{
    content: "";
    display: block;
    padding-top: 100%;
  }


  .right-yellow{
    background: color($colors,lightO);
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 75%;
    transform: translateX(-50%)
               translateY(50%)
               rotateZ(45deg);
  }
  .right-yellow:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  .left-green{
    background: color($colors,lightG);
    top: 0px;
    right: 0px;
    position: absolute;
    width: 75%;
    transform: translateX(50%)
               translateY(-40%)
               rotateZ(45deg);
  }
  .left-green:before{
    content: "";
    display: block;
    padding-top: 100%;
  }


  .right-green{
    background: color($colors,darkG);
    top: 0px;
    right: 0px;
    position: absolute;
    width: 55%;
    transform: translateX(50%)
               translateY(-35%)
               rotateZ(45deg);
  }
  .right-green:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}
