page-pwd-reset {

  .content{
    padding: 0px;
    margin: 0px;
    background: rgba(0,0,0,0.65);
    div{
      width: 90%;
      height: 75%;
      margin-left: 5%;
      margin-top: 10%;
      background: white;
      padding-top: 4%;

      .title{
        position: absolute;
        background: color($colors, lightO);
        margin-left: -6%;
        margin-top: -19%;
        height: 12%;
        color: white;
        width: 112%;
        font-size: 2em;
        padding-top: 3%;
        padding-left: 5%;
      }
    }
  }

  p{
    color: #888888;
  }

  .item-inner, .input-wrapper {
     padding: 0px!important;
     margin: 0px!important;
  }

  .button-action{
    float: right;
  }
  .button-send{
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateX(-50%);
  }

}
