page-swimming-pool {
    ion-card {

        ion-card-header {
            background-color: $yellow !important;
            color: #fff !important;
        }

        ion-card-content {
            padding-top: 15px !important;
        }
    }
}
