page-menu {

  .decorator{
    height: 25%;
    widows: 100%;
    position: relative;
    overflow: hidden;
    background: #d0b785;

    img{
      position: absolute;
      left: 22%;
      top: 5%;
      width: 50%;
    }
  }

  .left-menu{
    //background: color($colors, lightO);
    button{
      color: #555;
      font-family: 'Roboto' !important;
      font-weight: bold;
      //padding: 5px 10px;
      font-size: 1.3em;
      width: 100%;
      height: 60px;
      .center-h{
        transform-origin: center;
        transform: translateX(6px);
      }
      .center-t{
        transform-origin: center;
        transform: translateX(10px);
      }
      .center-l{
        transform-origin: center;
        transform: translateX(8px);
      }
      fa-icon{
        position: absolute;
        left: 5px;
      }
      span{
        //position: absolute;
        margin-left: 5px;
        span {
            position: absolute;
            left: 25%;
        }
        //transform: translateY(25%);
      }
    }
    .active{
      color: color($colors, lightO);
    }

    .shapes{
      height: 100%;
      width: 100%;
      position: absolute;
      top:0; left: 0;


      .left-yellow{
        background: color($colors,darkO);
        bottom: 0px;
        left: 0px;
        position: absolute;
        width: 65%;
        transform: translateX(-45%)
                   translateY(57%)
                   rotateZ(40deg);
      }
      .left-yellow:before{
        content: "";
        display: block;
        padding-top: 100%;
      }


      .right-yellow{
        background: color($colors,lightO);
        bottom: 0px;
        left: 0px;
        position: absolute;
        width: 80%;
        transform: translateX(-45%)
                   translateY(57%)
                   rotateZ(40deg);
      }
      .right-yellow:before{
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    .left-green{
      background: color($colors,darkG);
      bottom: 0px;
      right: 0px;
      position: absolute;
      width: 76%;
      transform: translateX(56%)
                 translateY(50%)
                 rotateZ(43deg);
    }
    .left-green:before{
      content: "";
      display: block;
      padding-top: 100%;
    }


    .right-green{
      background: color($colors,lightG);
      bottom: 0px;
      right: 0px;
      position: absolute;
      width: 91%;
      transform: translateX(56%)
                 translateY(50%)
                 rotateZ(43deg);
    }
    .right-green:before{
      content: "";
      display: block;
      padding-top: 100%;
    }

    .user-containter {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: #fff !important;
        font-family: Roboto !important;
    }
  }


}
